---
layout: default
comments: true
---

<section itemscope itemtype="http://schema.org/BlogPosting">
<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 itemprop="name">{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading" itemprop="description">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta" itemprop="datePublished">Posted in {{ page.categories }} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" itemprop="articleBody">

				{{ content }}

                <div class="text-center"><h2>SHARE ON</h2></div>

                <ul class="list-inline text-center">
                    <li>
                        <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" class="setOpa popup">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x fb"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/share?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=putusudarma" class="setOpa popup">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-square fa-stack-2x tw"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ site.url }}{{page.previous.url}}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Prev</a> 
                    </li>
                    {% endif %} 
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ site.url }}{{page.next.url}}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next &rarr;</a>
                    </li>
                    {% endif %} 
                </ul>

                <hr>

                {% if page.comments %}
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = 'putusudarma'; // required: replace example with your forum shortname

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {% endif %}

            </div>
        </div>
    </div>
</article>
</section>
<hr>